In [3]:
import pandas as pd
import os

In [37]:
dir_mixcr = '../test'

suffix = '.clonotypes.TRB.txt'

In [38]:
list_files = [x for x in os.listdir(dir_mixcr) if x.endswith(suffix)]
list_samples = [x.split(suffix)[0] for x in list_files]

In [48]:
list_df = []
for s,f in zip(list_samples, list_files):
    df = pd.read_csv(dir_mixcr + '/' + f, sep='\t')
    df['TRBV'] = df['allVHitsWithScore'].str.split(',').str.get(0).str.split('*').str.get(0)
    df['TRBJ'] = df['allJHitsWithScore'].str.split(',').str.get(0).str.split('*').str.get(0)
    df['CDR3a'] = 'NA'
    df['sub:cond'] = s + ':NA'

    list_df.append(df[['aaSeqCDR3', 'TRBV', 'TRBJ', 'CDR3a', 'sub:cond', 'cloneCount']])

df_merged = pd.concat(list_df)
df_merged = df_merged.groupby(
    by=['aaSeqCDR3', 'TRBV', 'TRBJ', 'CDR3a', 'sub:cond'], 
    as_index=False).sum().sort_values(by='sub:cond')

In [55]:
df_merged.groupby(by=['aaSeqCDR3', 'TRBV', 'TRBJ', 'CDR3a', 'sub:cond'], as_index=False).sum().sort_values(by='sub:cond')

            aaSeqCDR3      TRBV     TRBJ CDR3a    sub:cond  cloneCount
0        CAASQGTDTQYF  TRBV10-3  TRBJ2-3    NA  sample1:NA         1.0
929   CASSVVGGGNTEAFF     TRBV9  TRBJ1-1    NA  sample1:NA         1.0
452   CASSLGQGAVEKLFF   TRBV5-5  TRBJ1-4    NA  sample1:NA         1.0
453     CASSLGQGSPLHF   TRBV7-8  TRBJ1-6    NA  sample1:NA         2.0
454    CASSLGQGTGELFF   TRBV7-6  TRBJ2-2    NA  sample1:NA         1.0
...               ...       ...      ...   ...         ...         ...
511   CASSLQGAGANVLTF    TRBV27  TRBJ2-6    NA  sample2:NA         1.0
512    CASSLQGANEKLFF  TRBV12-4  TRBJ1-4    NA  sample2:NA         1.0
513   CASSLQGSFDYEQYF    TRBV28  TRBJ2-7    NA  sample2:NA         2.0
500      CASSLNTGELFF    TRBV19  TRBJ2-2    NA  sample2:NA         1.0
1195  RASSLRRGAYNEQFF   TRBV7-3  TRBJ2-1    NA  sample2:NA         2.0

[1196 rows x 6 columns]

In [41]:
df.columns

Index(['cloneId', 'cloneCount', 'cloneFraction', 'targetSequences',
       'targetQualities', 'allVHitsWithScore', 'allDHitsWithScore',
       'allJHitsWithScore', 'allCHitsWithScore', 'allVAlignments',
       'allDAlignments', 'allJAlignments', 'allCAlignments', 'nSeqFR1',
       'minQualFR1', 'nSeqCDR1', 'minQualCDR1', 'nSeqFR2', 'minQualFR2',
       'nSeqCDR2', 'minQualCDR2', 'nSeqFR3', 'minQualFR3', 'nSeqCDR3',
       'minQualCDR3', 'nSeqFR4', 'minQualFR4', 'aaSeqFR1', 'aaSeqCDR1',
       'aaSeqFR2', 'aaSeqCDR2', 'aaSeqFR3', 'aaSeqCDR3', 'aaSeqFR4',
       'refPoints'],
      dtype='object')

In [45]:
df['TRBV'] = df['allVHitsWithScore'].str.split(',').str.get(0).str.split('*').str.get(0)
df['TRBJ'] = df['allJHitsWithScore'].str.split(',').str.get(0).str.split('*').str.get(0)
df['CDR3a'] = 'NA'
df['sub:cond'] = s + ':NA'

df[['aaSeqCDR3', 'TRBV', 'TRBJ', 'CDR3a', 'sub:cond', 'cloneCount']]

In [46]:
s

'sample2'

In [47]:
df[['aaSeqCDR3', 'TRBV', 'TRBJ', 'CDR3a', 'sub:cond', 'cloneCount']]

             aaSeqCDR3      TRBV     TRBJ CDR3a    sub:cond  cloneCount
0       CASSYSNNSNEQFF   TRBV6-2  TRBJ2-1    NA  sample2:NA         5.0
1       CASSVGTANTEAFF     TRBV9  TRBJ1-1    NA  sample2:NA         5.0
2    CASSLGGLDSPNQPQHF  TRBV12-3  TRBJ1-5    NA  sample2:NA         4.0
3      CASSFGLAPYNEQFF     TRBV2  TRBJ2-1    NA  sample2:NA         4.0
4       CASSLEAGSYEQYF  TRBV11-2  TRBJ2-7    NA  sample2:NA         4.0
..                 ...       ...      ...   ...         ...         ...
685          CSEGAGYTF  TRBV20-1  TRBJ1-2    NA  sample2:NA         1.0
686          CSVGGKAFF  TRBV29-1  TRBJ1-1    NA  sample2:NA         1.0
687           CASSEAFF     TRBV2  TRBJ1-1    NA  sample2:NA         1.0
688           CSATSAFF  TRBV20-1  TRBJ1-1    NA  sample2:NA         1.0
689           CSDNEQFF  TRBV20-1  TRBJ2-1    NA  sample2:NA         1.0

[690 rows x 6 columns]